<?xml version="1.0" encoding="UTF-8"?>
<!-- 30초마다 설정 파일의 변경을 확인한다. 파일이 변경되면 다시 로딩한다 -->
<configuration scan="true" scanPeriod="2 seconds">

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="com.xcurenet.common.filter.LogbackFilter" />
		<encoder>
			<pattern>
				EMASS [%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5level %20.-20logger{0}.%-4line [%-25.-25X{adminIp}- %-12X{adminId}] %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<root level="INFO">
		<appender-ref ref="console" />
	</root>

</configuration>