/*
body{
	font-family: Dotum, "Apple SD Gothic Neo", Helvetica, sans-serif !important;
	text-align: left !important;
	background: #fff !important;
}
*/

/*#msgDiv {*/
/*	font-family: Dotum, "Apple SD Gothic Neo", Helvetica, sans-serif !important;*/
/*	text-align: left !important;*/
/*	background: #fff !important;*/
/*	width: calc(100% - 3px);*/
/*	padding: 0px 2px 0px 2px;*/
/*}*/
.panel-heading{
	padding: 5px 15px;
}

.panel{
	margin-bottom:10px;
	border-radius:0;
}

pre {
	border: 0px !important;
	border-radius : 0px !important;
	background-color:white !important;
	white-space: pre-line !important;
}
.panel-body {
	padding: 20px;
	background-color: #fff;
	/*padding : 12px 8px 12px 8px !important;*/
}

.body_toggle{
	cursor:pointer;
}

#additionalBtn .dropdown-divider{
	margin:1px 0;
}

.css-body table {
	background-color: transparent;
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	font-size: 13px;
}

.css-body table th {
	background-color: #eee !important;
	text-align: center !important;
	border: 1px solid #ddd !important;
	padding: 8px !important;
	line-height: 1.42857143 !important;
	vertical-align: top !important;
}

.css-body table td {
	border: 1px solid #ddd !important;
	padding: 8px !important;
	line-height: 1.42857143 !important;
	vertical-align: top !important;
}

.css-body .table>tbody>tr>td, .css-body .table>tbody>tr>th {
	padding : 5px !important;
	line-height: 15px !important;
}

.css-body .table th {
	background-color: #eee !important;
	text-align: center !important;
}
.svcnmSpan{
	padding: 4px 10px;
	border: 1px solid #bbb;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-o-border-radius: 7px;
	background-color: #bbb;
	color:#fff;
	position: relative;
	top: 7px;
}

.differentExt{
	background-color:#FFE8E8;
}
.unknownExt{
	background-color:#FFFAC3;
}
.fileNameExistN{
	background-color:#E0F7DA;
}

.fileNoSizeNo{
	background-color:#cbe8f7;
}

.fileNo{
	background-color:#9079f7;
}

.fileDrm{
	background-color:#fac989;
}

.fileEncrypte{
	background-color:#e0d2fa;
}

/*.differentExt{*/
/*	background-color:#FFE8E8;*/
/*}*/
/*.unknownExt{*/
/*	background-color:#FFFAC3;*/
/*}*/
/*.fileNameExistN{*/
/*	background-color:#E0F7DA;*/
/*}*/
.found td .attachName {
	cursor:pointer;
}
.found td .attachName:hover {
	text-decoration: underline;
}
.notfound td .attachName {
	text-decoration:line-through;
	cursor:default;
}
.found .attachExt, .found .downloadBtn{
	cursor:pointer;
}
.attachName:hover{
	color:#0A246A;
}
.clsKwds { /**예약어 표시**/
	color		: #675AB1;
	font-weight	: bold;
}
.clsHighlight {/**검색어 강조 표시**/
	background	: #13C7A3;
	font-weight	: bold;
}
.clsHighlightKwds {/**예약어 강조 표시**/
	background	: #FFAD5B;
	font-weight	: bold;
}

.select-xs .btn {
	padding: 6px 25px 5px 10px;
	font-size: 12px;
}
.userInfoSpan{
	cursor:help;
	display: inline-block;
}
.userInfoSpan:hover{
	text-decoration: underline;
	color:#0A246A;
}
div#userInfoDiv{position:absolute; display:none; text-align: left;z-index: 99999;border: 1px solid #555;background-color: #fff;width:300px;}
div#imgPreviewDiv{position:absolute; display:none; text-align: left;z-index: 99999;border: 1px solid #555;background-color: #fff;}


div#infoDiv{position:absolute; display:none; text-align: left;z-index: 99999;border: 1px solid #C1C1C1;background-color: #F5F5F5;min-width:300px;min-height: 120px;max-width: 600px;color: #363636;font-size: 12px;font-family: Dotum, "Apple SD Gothic Neo", Helvetica, sans-serif;white-space:normal;word-break:break-all;}
div#infoDivText{
	padding: 7px;
}
div#infoDivTextHeader{
	border-bottom: 1px solid #C1C1C1;
	height: 24px;
	line-height: 24px;
	padding-left: 7px;
	background-color: #1D9E74;
	color: #fff;
}

#emassBody h1 {font-size: 16px;color: #2A5685;font-weight: bold;}
#emassBody td { color: #2a2a2a; font-family: Dotum, "Apple SD Gothic Neo", Helvetica, sans-serif; text-decoration: none ; font-size:12px; font-weight: none;  line-height: normal;}
#emassBody table{border-collapse:collapse;}
#emassBody table {padding:0; border-spacing:0px; border:0; border-collapse:collapse;}
#emassBody th, td {padding:0px;border:0px solid;border-collapse:collapse;}
#emassBody *{font-size: 13px;}


table.response,table.request{border-collapse:collapse !important;font-family:dotum !important; border-top: 2px solid #036 !important;width:100% !important;}
.request th,.response th{padding:8px !important;font-weight:bold !important;border-bottom:1px solid #ccc !important;width:20% !important;font-size:13px;}
.request th{background-color:#edf9fe !important;}
.response th{background-color:#ffe4e1 !important;}
.response td,.request td{padding:7px !important;border-bottom:1px solid #ccc !important;word-break:break-all !important;font-size:13px;}