.msg_container{
	position: absolute;
	top: 64px;
	left: 0px;
	right: 0px;
	bottom: 2px;
	min-height:310px;
	min-width: 860px;
}
.msg_cont_container {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom:0px;
}
.msg_body_container {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom:0px;
}

#content_left {
	position: absolute;
	top: 0;
	bottom: 0px;
	left: 0;
	float: none;
	width: 300px;
	border-right: 1px solid #B4B4B4;
	font-family: dotum, Verdana, arial, sans-serif;
	overflow: hidden;
	user-select: none;
}

.gutter {
	position: absolute; background-color: #f7f7f7;font: 0/0 arial; z-index: 999;display: block;
}
.gutter.gutter-horizontal {
	width: 4px;border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;cursor: ew-resize;top: 0;bottom: 0;left: 721px;
}
.gutter:HOVER {
	background-color: #EBEBEB;
}
.panel-left {
	position: absolute;top: 0;left: 0;bottom: 0;overflow: hidden;right:720px;z-index: 99
}
.panel-right {
	left: 725px; top: 0px;bottom: 0px;right:0px;top: 0;position: absolute;z-index: 99
}

.splitter_panel {
  position: relative;
}
.splitter_panel .vsplitter:HOVER  {
	background-color: #EBEBEB;
}
.splitter_panel .vsplitter {
    background-color: #dbdbdb;
    cursor: col-resize;
    z-index:900;
    width: 4px;
}

.splitter_panel .hsplitter {
    background-color: #A5ACB5;
    cursor: row-resize;
    z-index: 800;
    height: 4px;
}
.splitter_panel .left_panel{
	overflow:hidden !important;
}
.splitter_panel .vsplitter.splitter-invisible,
.splitter_panel .hsplitter.splitter-invisible {
    background: none;
}
.splitter_panel .vsplitter, .splitter_panel .left_panel, .splitter_panel .right_panel,
.splitter_panel .hsplitter, .splitter_panel .top_panel, .splitter_panel .bottom_panel {
    position: absolute;
    overflow:hidden;
}
.splitter_panel .vsplitter, .splitter_panel .left_panel, .splitter_panel .right_panel {
  height: 100%;
}
.splitter_panel .hsplitter, .splitter_panel .top_panel, .splitter_panel .bottom_panel {
  width: 100%;
}
.splitter_panel .top_panel, .splitter_panel .left_panel, .splitter_panel .vsplitter {
   top: 0;
}
.splitter_panel .top_panel, .splitter_panel .bottom_panel, .splitter_panel .left_panel, .splitter_panel .hsplitter {
   left: 0;
}
.splitter_panel .bottom_panel {
   bottom: 0;
}
.splitter_panel .right_panel {
   right: 0;
}
.splitterMask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}













.xBar.bottom  {
	width:100%; height:4px; border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; left:0px; top:300px;cursor: n-resize
}

input,button,select{
	/*outline: none;*/
}


button[disabled], html input[disabled] {
	cursor: no-drop !important;
}

select {
	/*height: 23px;
	line-height: 23px;
	border:1px solid #D3D3D3;
	font-size: 12px;
	padding-left: 3px;*/
}
input[type="radio"]:checked + span {
/*	font-weight: bold;*/
}

input[type="text"] {
/*	height: 26px;
	line-height: 26px;
	!*border:1px solid #D3D3D3;*!
	font-size: 12px;
	padding-left: 3px;*/
}
.filter-option {
	font-size: 12px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option  {
	top: 0px;
	position: absolute;
	left: 0px;
	padding-left: 6px;
	width: calc(100% - 25px);
}

.footer_msg {
	position: absolute;
    bottom: 0px;
    width: 100%;
    height: 20px;
    background: #FBFBFB;
    z-index: 1000;
    border-top: 1px solid #D3D3D3;
}
#footer_msg_left {
	position: absolute;
    bottom: 2px;
    width: 300px;
    height: 20px;
    background: #FBFBFB;
    z-index: 1000;
    border-top: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
}

#search_top_area .search_btn:hover ,#saveFilterTab .search_btn:hover,#message_folderTab .search_btn:hover {
	background-color: #2e6ca2;
}
#search_top_area .search_btn:active,#saveFilterTab .search_btn:active,#message_folderTab .search_btn:active {
    background-color: #204d74;
}

#search_top_area .search_btn, #saveFilterTab  .search_btn {
	width: 130px;
	height: 33px;
	background-color: #253f56;
	color: white;
	font-weight: bold;
	font-size: 17px;
	border: 0px;
	margin:auto;
	display:block;
}

.searchButtonArea{
	width:100%;
	height:50px;
	padding-top:10px;
}

.search_btn{
	width: 50px;
	height: 23px;
	background-color: #253f56;
	color: white;
	font-weight: bold;
	font-size: 12px;
	border: 0px;
	line-height: 19px;
}

.saveFilterTab_tree {
	width:100%;height:calc(100% - 60px);border:1px solid #efefef;
}

.section_condition {
	width:100%;
	height: calc(100% - 85px);
	/* overflow: auto; */
	/* overflow-y: scroll;
	overflow-x: hidden; */
}

.bootstrap-select > button {
	height: 23px;
	line-height : 23px;
	vertical-align: top;
	border-radius: 0;
}
.bootstrap-select > button > span {
	line-height: 23px;
	font-family: dotum, Verdana, arial, sans-serif;
}

.listTab_div {
	min-width: 425px;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.list_icon {
	position: relative;
	top: 6px;
	left: 10px;
	display: inline-block;
	font-size:20px;
	border:0 !important;
	color: #4e4e50;
	background-color:#fbfbfb !important;
}

.query_execute_btn {
	width: 73px;
	height: 30px;
	background-color: #fff;
	border: 1px solid #D3D3D3;
	color: #8e8e8e;
	border-left: none;
}
.search_icon {
	position: absolute;
	top: 71px;
	left: 303px;
	background-image: url(../img/icon/search_icon.png);
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
}

.search_icon_left {
	position: relative;
	right: 1px;
	background-image: url(../img/icon/search_icon.png);
	width: 27px;
	height: 23px;
	background-repeat: no-repeat;
	border: 1px solid #D3D3D3;
	background-color: #fff;
	background-position: top;
	cursor: pointer;
}

.section_menu .filter_icon {
	background-image: url(../img/icon/filter.png);
	height: 35px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.section_menu .filter_folder_icon {
	background-image: url(../img/icon/filter_folder.png);
	height: 35px;
	background-repeat: no-repeat;
	background-position: center;
}

.section_menu .msg_folder_icon {
	background-image: url(../img/icon/msg_folder.png);
	height: 35px;
	background-repeat: no-repeat;
	background-position: center;
}

.section_menu .filter_icon_text {
	position: relative;
	top: 35px;
	display: inline-block;
	margin-left: -1px;
	text-align: center;
	font-size: 12px;
	color: #757575;
	width: 100%;
}

.section_menu .filter_menu {
	height: 60px;
	cursor: pointer;
	width: 91px;
}

.section_menu .filter_menu:hover {
	z-index: 100001;
	background-color: #d8d8d8;
}

.mail_header{
	position: relative;height: 60px;border-bottom: 1px solid #CBCBCB;background-color: #FBFBFB;padding-top:25px;
}

.leftHideBtn{
	width:35px;
	float:left;
}
.tabWrap{
	float:left;
	height: 34px;
	width: calc(100% - 400px);
}

.tabWrap .listTab_div li {
	margin-left: 3px;
	border: 1px solid #ccc !important;
	white-space: nowrap;
	height: 35px !important;
	border-bottom: 0px !important;
	cursor: pointer;
	padding: 1px 10px 1px 10px !important;
	position: relative;
}

.tabWrap .listTab_div li.select {
	background-color: #fff;
	border: 1px solid #ccc !important;
	border-bottom: 0px !important;
	border-left-width: 1px !important;
}

.tabWrap .listTab_div li p {
	display: block;
	height: 16px;
	line-height: 20px;
	text-align: center;
	color: #8e8e8e;
	padding-left: 1px;
	float: left;
	width: 80px;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
	background-color: #fff;
	margin-bottom: 0;
}

.tab_txt_top {
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	max-width: 100px;
	overflow: hidden;
	height: 100%;
	line-height: 32px;
}


.tabWrap .listTab_div li.select p {
	position: relative;
	z-index: 1;
	height: 16px;
	background: #F4F4F4;
	color: #010101;
	min-width: 80px;
}

.tab_close {
	position: absolute;
	z-index: 1;
	background-image: url('../img/icon/x.png');
	width: 16px;
	height: 13px;
	display: inline-block;
	background-repeat: no-repeat;
	top: 8px;
	right: 3px;
}

.tab_close:hover {
	background-image: url('../img/icon/x_over.png');
}

.condition_group {
	width: 292px; border-top: 0px solid #DCDCDC;margin-top: 7px;
}
.condition_group .expand-one  {
	height: 22px;
	line-height: 23px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	font-weight: bold;
	color: #000;
	cursor: pointer;
	background: linear-gradient(to bottom, #ffffff, #eaeaea, #FFFFFF, #E3E8ED);
	border: 1px solid #d1d4d8;
	border-top: 0px;
}
.condition_option {
	padding-left: 15px;padding-top: 10px;
}
.condition_title{
	font-weight: bold;
	line-height: 18px !important;
	top:10px;
}
.condition_sub_title {
	line-height: 20px !important;
	padding-left: 15px;
	font-weight: normal;
	clear:both;
}
.condition_label{
	margin-right: 10px;
	font-weight: normal;
	margin-bottom: 0px;
	padding: 2px 0px;
	cursor: pointer;
}

.condition_input_text {
	width:260px;
}
.condition_select{
	width:260px;
	cursor: pointer;
}
.condition_save {
	width:100%; padding-top:5px;height:20px;
}
.condition_save a{
	float:right; padding-right:15px; color:#6C6C6C; cursor: pointer; font-size: 12px;
}
.condition_left{
	float:left;
}
.condition_not{
	float:right;
	padding-right:20px;
}
.condition_not span {
	position: relative;
	top: -2px;
	font-weight: normal;
}
.condition_not input{
	margin-top:0;
}
.condition_not label{
	margin-bottom:0;
}
.condition_divider{
	height: 1px;
	border-top: 1px solid #eee;
	width: calc(100% - 25px);
	margin: 10px 0;
}

.button_style{
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border: 1px solid #c5c5c5;
	background: #fff;
	line-height: normal;
	padding: 0px;
}
.button_style:hover{
	border: 1px solid #cccccc;
	background: #ededed;
	font-weight: normal;
	color: #2b2b2b;
}
.button_style[disabled]{
	background-color: #DDDDDD;
}


.icon_style {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	left: -4px;
	vertical-align: bottom;
}

.codeSelectedBtn .btn {
	border-radius: 5px !important;
	padding: 0px 7px !important;
}
.codeSelectedBtn:before {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: rgba(136, 183, 213, 0);
    display: block;
    border-width: 6px;
    border-right-color: #7293af;
    width: 0px;
    left: -11px;
    top: 4px;
}

.codeSelectedBtn{
	cursor:pointer;display:none;position: relative;left:-10px;top:-10px;
	font-size: 15px;
	color: #fff;
}
.codeSelectedBtn .btn{
	background-color: #7293af;
	z-index: 2;
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 2px
}





.count_text:after {
	content: "";
	position: relative;
	border-width: 0px 8px 8px;
	border-style: solid;
	border-color: #fff transparent;
	display: block;
	width: 0;
	top: -1000px;
}
.left_slide{
	transition:0.1s;
	left:-478px !important;
}
.left_slide_main{
	transition:0.1s;
	left:0px !important;
}
.right_slide{
	transition:0.1s;
	left:0px !important;
}
.right_slide_main{
	transition:0.1s;
	left:250px;
}
.msg_button{
	background-color: #fff;
	border: 1px solid #9a9a9a;
	margin-right: -1px;
}
.msg_button:hover{
	background-color: #ececec !important;
}
.list_plus{
	background-image: url(../img/icon/plus.png);
	background-repeat: no-repeat;
	background-position: center;
	background-position-x: 34px;
	width: 57px;
	display: inline-block;
	margin-left: 8px;
	line-height: 19px;
	font-weight: bold;
	cursor: pointer;
}
.list_count{
	float: right;
	margin-right: 7px;
	font-weight: bold;
	line-height: 19px;
}
.condition_menu_unselected{
	background-color: #fff;
	border-bottom: 1px solid #cbcbcb;
	border-left: 1px solid #cbcbcb;
}
.attach_file_img {
	/*background-size: contain;*/
	background-repeat: no-repeat;
	/*width: 16px;*/
	/*height: 16px;*/
	/*display: inline-block;*/
	vertical-align: sub;
	background: url(../img/file/none.png) 8px center no-repeat;
}

.attach_png {
	background: url(../img/file/png.png) 8px center no-repeat;
}
.attach_cab {
	background: url(../img/file/cab.png)8px center no-repeat;
}
.attach_jpg {
	background: url(../img/file/jpg.png)8px center no-repeat;
}
.attach_jpeg {
	background: url(../img/file/jpeg.png)8px center no-repeat;
}
.attach_asf {
	background: url(../img/file/asf.png)8px center no-repeat;
}
.attach_avi {
	background: url(../img/file/avi.png)8px center no-repeat;
}
.attach_bmp {
	background: url(../img/file/bmp.png)8px center no-repeat;
}
.attach_doc {
	background: url(../img/file/doc.png) 8px center no-repeat;
}
.attach_docx {
	background: url(../img/file/docx.png) 8px center no-repeat;
}
.attach_DRM {
	background: url(../img/file/DRM.png) 8px center no-repeat;
}
.attach_gif {
	background: url(../img/file/gif.png) 8px center no-repeat;
}
.attach_gul {
	background: url(../img/file/gul.png) 8px center no-repeat;
}
.attach_htm {
	background: url(../img/file/htm.png) 8px center no-repeat;
}
.attach_html {
	background: url(../img/file/html.png) 8px center no-repeat;
}
.attach_hwp {
	background: url(../img/file/hwp.png) 8px center no-repeat;
}
.attach_link {
	background: url(../img/file/link.png) 8px center no-repeat;
}
.attach_mp3 {
	background: url(../img/file/mp3.png) 8px center no-repeat;
}
.attach_mp4 {
	background: url(../img/file/mp4.png) 8px center no-repeat;
}
.attach_unknown {
	background: url(../img/file/none.png) 8px center no-repeat;
}
.attach_office {
	background: url(../img/file/office.png) 8px center no-repeat;
}
.attach_pdf {
	background: url(../img/file/pdf.png) 8px center no-repeat;
}
.attach_ppt{
	background: url(../img/file/ppt.png) 8px center no-repeat;
}
.attach_pptx {
	background: url(../img/file/pptx.png) 8px center no-repeat;
}
.attach_rar {
	background: url(../img/file/rar.png) 8px center no-repeat;
}
.attach_text {
	background: url(../img/file/text.png) 8px center no-repeat;
}
.attach_txt {
	background: url(../img/file/txt.png) 8px center no-repeat;
}
.attach_wav {
	background: url(../img/file/wav.png) 8px center no-repeat;
}
.attach_xls {
	background: url(../img/file/xls.png) 8px center no-repeat;
}
.attach_xlsx {
	background: url(../img/file/xlsx.png) 8px center no-repeat;
}
.attach_xml {
	background: url(../img/file/xml.png) 8px center no-repeat;
}
.attach_zip {
	background: url(../img/file/zip.png) 8px center no-repeat;
}


/* =================================================================  */

/*
Copyright (c) 2021 Kil Hyung-jin, with Reserved Font Name Pretendard.
https://github.com/orioncactus/pretendard

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at:
http://scripts.sil.org/OFL
*/

@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url("../fonts/woff2/Pretendard-Black.subset.woff2") format('woff2'), url("../fonts/woff/Pretendard-Black.subset.woff") format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url("../fonts/woff2/Pretendard-ExtraBold.subset.woff2") format('woff2'), url("../fonts/woff/Pretendard-ExtraBold.subset.woff") format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url("../fonts/woff2/Pretendard-Bold.subset.woff2") format('woff2'), url("../fonts/woff/Pretendard-Bold.subset.woff") format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url("../fonts/woff2/Pretendard-SemiBold.subset.woff2") format('woff2'), url("../fonts/woff/Pretendard-SemiBold.subset.woff") format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url("../fonts/woff2/Pretendard-Medium.subset.woff2") format('woff2'), url("../fonts/woff/Pretendard-Medium.subset.woff") format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url("../fonts/woff2/Pretendard-Regular.subset.woff2") format('woff2'), url("../fonts/woff/Pretendard-Regular.subset.woff") format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url("../fonts/woff2/Pretendard-Light.subset.woff2") format('woff2'), url("../fonts/woff/Pretendard-Light.subset.woff") format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url("../fonts/woff2/Pretendard-ExtraLight.subset.woff2") format('woff2'), url("../fonts/woff/Pretendard-ExtraLight.subset.woff") format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url("../fonts/woff2/Pretendard-Thin.subset.woff2") format('woff2'), url("../fonts/woff/Pretendard-Thin.subset.woff") format('woff');
}

* {margin:0; padding: 0;box-sizing:border-box;}
html, body, div, span, applet, object, iframe,
h1, h2, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Pretendard;
	font-weight:400;
	box-sizing:border-box;


}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;

}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*reset*/
#gnbWrap   a  {color:#fff; text-decoration: none; padding:0;margin:0;}
#gnbWrap   a:active {}
#gnbWrap   a:hover {color:#ddd; text-decoration: underline;}


input[type=password], input[type=text], select { vertical-align: middle;font-family: Pretendard; font-size:12px;border-radius: 2px;height:26px;line-height: 26px;border-radius: 2px;border: 1px solid #CCC;background: #FFF;padding: 0 4px;align-items: center;-webkit-border-radius: 2px;-moz-border-radius: 2px;-ms-border-radius: 2px;-o-border-radius: 2px;}
select:disabled { background-color:#ddd; border: 1px solid #aaa;}
input:disabled{ background-color:#eee; border: 1px solid #CCC;}
input[type="text"].error,select.error{border:1px solid #FC5656; color:#FC5656; background-color:#fff;}
select { font-size:12px; border-radius: 2px; height:26px; line-height: 26px; resize: vertical; border-radius: 2px; border: 1px solid #ccc; background: #FFF; display: flex; padding: 0 4px 0 4px;  display:inline-block; align-items: center; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; }
button {cursor: pointer;font-family: Pretendard; vertical-align: middle;}
button:hover {text-decoration: underline;}

/* IE 기본 스타일 제거 */
select::-ms-expand{display: none; /* IE 10, 11 */}
input[type="date"]{font-size:12px;font-family: Pretendard;height:26px;line-height:26px;padding-left:8px;padding-right:4px;color: #111;border:1px solid #ccc;border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;-ms-border-radius: 2px;-o-border-radius: 2px;}
::-webkit-calendar-picker-indicator{background-color: #ffffff;padding: 5px;cursor: pointer;}
.txt_error {margin:4px 0; font-size:12px; color:#FC5656}


input[type="radio"]:checked + span  {color:#1A73F9; }
input[type="radio"]:disabled { appearance: none; border-radius: 50%; width:12px; height:12px; background-color: #eee; border: 1px solid #CCC; box-shadow: none; opacity:1; cursor: not-allowed; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; }
input[type="radio"]:disabled + span {opacity: 0.7;cursor: not-allowed;}
input[type="checkbox"]:checked + span  {color:#1A73F9;}
input[type="checkbox"]:disabled {appearance: none; border-radius: 2px; width:12px; height:12px; background-color: #eee; border: 1px solid #CCC; box-shadow: none;opacity:1;cursor: not-allowed;}
input[type="checkbox"]:disabled + span {opacity: 0.7;cursor: not-allowed;}
/* 드롭다운 메뉴  */

.dropdown-additionMenu {left:21.2%;}
.dropdown-exportMenu  {left:81.2%;}
