
/*font*/

@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url("../fonts/woff2/Pretendard-Black.woff2") format('woff2'), url("../fonts/woff/Pretendard-Black.woff") format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url("../fonts/woff2/Pretendard-ExtraBold.woff2") format('woff2'), url("../fonts/woff/Pretendard-ExtraBold.woff") format('woff');

}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url("../fonts/woff2/Pretendard-Bold.woff2") format('woff2'), url("../fonts/woff/Pretendard-Bold.woff") format('woff');

}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url("../fonts/woff2/Pretendard-SemiBold.woff2") format('woff2'), url("../fonts/woff/Pretendard-SemiBold.woff") format('woff');

}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url("../fonts/woff2/Pretendard-Medium.woff2") format('woff2'), url("../fonts/woff/Pretendard-Medium.woff") format('woff');

}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url("../fonts/woff2/Pretendard-Regular.woff2") format('woff2'), url("../fonts/woff/Pretendard-Regular.woff") format('woff');

}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url("../fonts/woff2/Pretendard-Light.woff2") format('woff2'), url("../fonts/woff/Pretendard-Light.woff") format('woff');

}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url("../fonts/woff2/Pretendard-ExtraLight.woff2") format('woff2'), url("../fonts/woff/Pretendard-ExtraLight.woff") format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url("../fonts/woff2/Pretendard-Thin.woff2") format('woff2'), url("../fonts/woff/Pretendard-Thin.woff") format('woff');
}


* {margin:0; padding: 0;box-sizing:border-box;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Pretendard;
	font-weight:200;
	box-sizing:border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;

}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*reset*/

a {color:#fff; text-decoration: none; padding:0;margin:0;}
a:active {}
a:hover {color:#ddd; text-decoration: underline;}
input[type=text], select, textarea {
	font-size:12px;
	border-radius: 2px;
	height:26px;
	line-height: 26px;

	border-radius: 2px;
	border: 1px solid #CCC;
	background: #FFF;

	padding: 0 4px;
	align-items: center;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}
input::placeholder {
	color: #999;
	height:24px;
	font-size:12px;
}
select {
	font-size:12px;
	border-radius: 2px;
	height:26px;
	line-height: 26px;
	resize: vertical;
	border-radius: 2px;
	border: 1px solid #CCC;
	background: #FFF;
	display: flex;
	padding: 0 4px;
	align-items: center;
}

button {cursor: pointer;}
/* select
select option {color:#000;}
select{
	border:none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: transparent; color:#fff;
	background: url(../img/icon_top_arrow.png) 95.5% no-repeat;
	background-position: right 0.0 top 50%;
	padding-right:20px;
	font-family: Pretendard;

  }*/

/* IE 기본 스타일 제거 */
select::-ms-expand{display: none; /* IE 10, 11 */}

input[type="date"]{
	font-size:12px;
	font-family: Pretendard;
	height:26px;
	line-height:26px;
	padding-left:8px;
	padding-right:4px;
	color: #111;
	border:1px solid #ccc;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}
::-webkit-calendar-picker-indicator{
	background-color: #ffffff;
	padding: 5px;
	cursor: pointer;
}

